/*#################### PROPIEDADES GENERALES ####################*/
/******************** Reseteando Valores ********************/
* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/******************** Generales ********************/
body {width: 100%;}

/*Menu de Navegación*/
nav {padding: 10px 5px 5px 5px; display: flex; flex-direction: row; text-decoration: none; height: 100px;}
.menuNavegacionOpcion {margin: auto; font-size: 1rem;}
.cajonimagenSocial {width: 50px; margin-top: auto; margin-bottom: auto; margin-left: 0px; margin-right: 0px;}
.imagenSocial {width: 30px;}
.linea {height: 5px; background-color: #47D0AF;}
a.menuOpcionLink {text-decoration: none; color: black;}
a.menuOpcionLink:hover {color: #47D0AF; font-size: 110%;}
a.seleccionado {color: #47D0AF;}
.imagenLogo {width: 100px;}

/*Footer*/
footer {background-color: #47D0AF;}
.opcionlinkFooter {text-decoration: none; color: white;}
a.seleccionadoFooter {color: black}
a.opcionlinkFooter:hover {color: black}
.vaciaFooterUno {background-image: linear-gradient(to left, #47D0AF 20%, white);}
.vaciaFooterDos {background-image: linear-gradient(to right, #47D0AF 20%, white);}
.footer {display: flex; flex-direction: row;}
.divFooter {margin: auto; padding: 20px 10px 10px 20px;}
li {list-style: none; margin-bottom: 20px;}

/****************************************/

/******GRID's******/
/*Grid's Areas Generales*/
nav {grid-area: menu;}
header {grid-area: slider;}
main {grid-area: cuerpo;}
footer {grid-area: pie;}
.vaciaUno {grid-area: vaciaUno;}
.vaciaDos{grid-area: vaciaDos;}
.vaciaTittleUno {grid-area: vaciaTittleUno;}
.vaciaTittleDos {grid-area: vaciaTittleDos;}
.linea {grid-area: linea;}
.vaciaFooterUno {grid-area: vaciaFooterUno;}
.vaciaFooterDos {grid-area: vaciaFooterDos;}

#gridAreas {
    display: grid;
    grid-template-areas: 
    "vaciaTittleUno menu menu vaciaTittleDos"
    "linea linea linea linea"
    "vaciaUno slider slider vaciaDos"
    "vaciaUno cuerpo cuerpo vaciaDos"
    "vaciaFooterUno pie pie vaciaFooterDos"
    ;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: auto auto auto auto auto;
}

/******************** Media Queries Generales ********************/
@media (min-width: 992.1px) and (max-width: 1023px) {
    h1 {font-size: 1.5em;}
    h2 {font-size: 1.17em;}
    h3 {font-size: .83em;}
    p {font-size: .83em;}
    #gridAreas {
        display: grid;
        grid-template-areas: 
        "menu menu"
        "linea linea"
        "slider slider"
        "cuerpo cuerpo"
        "pie pie"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
    }

    nav {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        padding: 0;
    }
    .divimagenLogo {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .cajonimagenSocial {
        margin-bottom: 0px;
        display: none;
    }
    .menuNavegacionOpcion {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto; 
        margin-right: auto; 
        display: flex; 
        flex-direction: column; 
        text-align: center;
    }
    #vaciaTittleUno, #vaciaTittleDos, .vaciaUno, .vaciaDos, .vaciaFooterUno, .vaciaFooterDos {display: none;}
}
@media (min-width: 480.1px) and (max-width: 992px) {
    h1 {font-size: 1.5em;}
    h2 {font-size: 1.17em;}
    h3 {font-size: .83em;}
    p {font-size: .83em;}
    #gridAreas {
        display: grid;
        grid-template-areas: 
        "menu menu"
        "linea linea"
        "slider slider"
        "cuerpo cuerpo"
        "pie pie"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
    }

    nav {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        padding: 0;
    }
    .divimagenLogo {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .cajonimagenSocial {
        margin-bottom: 0px;
        display: none;
    }
    .menuNavegacionOpcion {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto; 
        margin-right: auto; 
        display: flex; 
        flex-direction: column; 
        text-align: center;
    }
    #vaciaTittleUno, #vaciaTittleDos, .vaciaUno, .vaciaDos, .vaciaFooterUno, .vaciaFooterDos {display: none;}
}
@media (max-width: 480px) {
    h1 {font-size: 1.5em;}
    h2 {font-size: 1.17em;}
    h3 {font-size: 0.83em;}
    p {font-size: 0.83em;}
    #gridAreas {
        display: grid;
        grid-template-areas: 
        "menu"
        "linea"
        "slider"
        "cuerpo"
        "pie"
        ;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
    #vaciaTittleUno, #vaciaTittleDos, .vaciaUno, .vaciaDos, .vaciaFooterUno, .vaciaFooterDos {display: none;}
    .cajonimagenSocial {margin-bottom: 0px;display: none;}
    .footer {display: flex; flex-direction: column;}
    .menuNavegacionOpcion {/*margin-top: 5px; margin-bottom: 5px;*/
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto; 
        margin-right: auto; 
        display: flex; 
        flex-direction: column; 
        text-align: center;
    }
    .divFooter {margin: auto; padding: 5px;}
    li {list-style: none; margin-bottom: 20px; text-align: center;}
    .divimagenLogo {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .cajonimagenSocial {margin-bottom: 0px;display: none;}
}
/****************************************/
/*######################################################################*/
/*#################### ESTILOS GENERALES INDEX ####################*/
/******************** Header ********************/
/* Slider Principal */
.tituloIndexSliderPrincipal {
    animation-name: tituloIndexSliderPrincipal;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
}

@keyframes tituloIndexSliderPrincipal {
    /* inicio */
    from {
        transform: translateX(-500px);
        opacity: 5;
        color: #47D0AF;
    }
    /* fin */
    to {
        opacity: 50;
        color: #47D0AF;
    }
}
.subTituloIndexSliderPrincipal {
    animation-name: subTituloIndexSliderPrincipal;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
}
@keyframes subTituloIndexSliderPrincipal {
    /* inicio */
    from {
        transform: translateX(-500px);
        opacity: 5;
        color: #47D0AF;
    }
    /* fin */
    to {
        opacity: 50;
        color: #47D0AF;
    }
}
.sliderPrincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.cajonSliderPrincipal {width: 50%; margin: auto;}
.imagenSliderPrincipal {width: 100%;}
.cajonSliderPrincipal h1 {
    margin-bottom: 50px;
}
/* Slider Secundario */
.imagenSliderSecundario {width: 150px; transition: all 1.2s;}
.imagenSliderSecundario:hover {
    transform:scale(1.1);
    
}
.sliderSecundario {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cajonSliderSecundario {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
}
.cajonSliderSecundario h3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#cajonSliderSecundarioUno {
    background-color: #642cb352;
}
#cajonSliderSecundarioDos {
    background-color: #414ab25d;
}
#cajonSliderSecundarioTres {
    background-color: #2d9bf069;
}

/****************************************/
/******************** Cuerpo Index Main ********************/
/* Sección inicial */
.imagenResalte {width: 200px; margin: auto; transition: all 1.3s;}
.imagenResalte:hover {
    border-radius:50%;
    box-shadow: 0px 0px 5px 5px #47D0AF;;
    transform: rotate(10deg);
    filter: opacity(.5);
    width: 220px;
}
.seccionUno {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cajonSeccionUno {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
}
.cajonSeccionUno h2 {
    margin-bottom: 20px;
}
/* Sección final diagrama */
.imagenDiagrama {width: 80%; margin: auto;}
.seccionDos {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cajonSeccionDos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.cajonSeccionDos h2, .cajonSeccionDos p {
    margin-bottom: 20px;
}
.cajonSeccionDos p {text-align: left;}

/****************************************/
/******************** Media Queries Index ********************/
@media (min-width: 481px) and (max-width: 1023px) {
    .sliderPrincipal {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .cajonSliderPrincipal h1 {
        margin-bottom: 20px;
    }
    .cajonSliderSecundarioUno {
        width: 33.33%;
    }
    .imagenSliderSecundario {
        width: 40%;
    }
}
@media (max-width: 480px) {
    .sliderPrincipal {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cajonSliderPrincipal {width: 100%; margin: auto;}
    .sliderSecundario {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cajonSliderSecundario {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 5px;
    }
    .cajonSliderSecundario h4 {
        margin-top: auto;
        margin-bottom: auto;
    }
    .seccionUno {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cajonSeccionUno {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }
    .imagenDiagrama {width: 100%; margin: auto;}
    .imagenSliderSecundario:hover {transform:scale(1);}
}

/****************************************/
/*######################################################################*/
/*#################### ESTILOS GENERALES "NUESTRO EQUIPO" ####################*/
/******************** HEADER  ********************/
/* Header */
.sliderPrincipalNE {
    text-align: left;
    padding: 50px;
    background-color: #47D0AF;
}
.tituloPrincipalNE {
    animation-name: tituloPrincipalNE;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
}
@keyframes tituloPrincipalNE {
    /* inicio */
    from {
        transform: translateY(-200px);
        opacity: 0;
        color: white;
    }
    /* fin */
    to {
        opacity: 50;
        color: white;
    }
}
/****************************************/
/******************** EQUIPO  ********************/
#cajonColorUno {border-color: #8FD14F;}
#cajonColorDos {border-color: #47D0AF;}
#cajonColorTres {border-color: #12CDD4;}
#cajonColorCuatro {border-color: #47D0AF;}
#cajonColorCinco {border-color: #2D9BF0;}
/* Seccion Uno */
.imagenEquipoNE {width: 100%;}
.seccionEquipoUnoNE {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    text-align: center;
}
.cajonEquipoNE {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    margin: 0px auto;
    text-align: left;
    width: 32%;
}
.cajonEquipoNE:hover {
    width: 40%;
}
/* Seccion Dos */
.seccionEquipoDosNE {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.textoEquipoNE {
    padding: 20px;
}
/****************************************/
/******************** MARCAS  ********************/
/* Marcas */
.seccionMNE {
    width: 100%;
    margin-bottom: 30px;
}
seccionMarcasNE {
    display: flex;
    flex-direction: column;
}
.seccionMarcasUnoNE {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.seccionMarcasDosNE {
    text-align: center;
}
.imagenMarcasNE {
    width: 20%; 
    margin: 20px;
    animation-name: marcas;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaUno {
    animation-name: marcaUno;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaDos {
    animation-name: marcaDos;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaTres {
    animation-name: marcaTres;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaCuatro {
    animation-name: marcaCuatro;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaCinco {
    animation-name: marcaCinco;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaSeis {
    animation-name: marcaSeis;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaSiete {
    animation-name: marcaSiete;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}
#marcaOcho {
    animation-name: marcaOcho;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}

@keyframes marcaUno {
    /* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1.1);}
    25% {transform: scale(1);}
    37.5% {transform: scale(1);}
    50% {transform: scale(1);}
    62.5% {transform: scale(1);}
    75% {transform: scale(1);}
    87.5% {transform: scale(1);}
    100% {transform: scale(1);}
    /* fin */}
@keyframes marcaDos {
    /* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1);}
    25% {transform: scale(1.1);}
    37.5% {transform: scale(1);}
    50% {transform: scale(1);}
    62.5% {transform: scale(1);}
    75% {transform: scale(1);}
    87.5% {transform: scale(1);}
    100% {transform: scale(1);}
    /* fin */}
@keyframes marcaTres {
    /* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1);}
    25% {transform: scale(1);}
    37.5% {transform: scale(1.1);}
    50% {transform: scale(1);}
    62.5% {transform: scale(1);}
    75% {transform: scale(1);}
    87.5% {transform: scale(1);}
    100% {transform: scale(1);}
    /* fin */}
@keyframes marcaCuatro {
    /* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1);}
    25% {transform: scale(1);}
    37.5% {transform: scale(1);}
    50% {transform: scale(1.1);}
    62.5% {transform: scale(1);}
    75% {transform: scale(1);}
    87.5% {transform: scale(1);}
    100% {transform: scale(1);}
    /* fin */}
@keyframes marcaCinco {
    /* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1);}
    25% {transform: scale(1);}
    37.5% {transform: scale(1);}
    50% {transform: scale(1);}
    62.5% {transform: scale(1.1);}
    75% {transform: scale(1);}
    87.5% {transform: scale(1);}
    100% {transform: scale(1);}
    /* fin */}
@keyframes marcaSeis {
    /* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1);}
    25% {transform: scale(1);}
    37.5% {transform: scale(1);}
    50% {transform: scale(1);}
    62.5% {transform: scale(1);}
    75% {transform: scale(1.1);}
    87.5% {transform: scale(1);}
    100% {transform: scale(1);}
    /* fin */}
@keyframes marcaSiete {/* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1);}
    25% {transform: scale(1);}
    37.5% {transform: scale(1);}
    50% {transform: scale(1);}
    62.5% {transform: scale(1);}
    75% {transform: scale(1);}
    87.5% {transform: scale(1.1);}
    100% {transform: scale(1);}
    /* fin */}
@keyframes marcaOcho {
    /* inicio */
    0%{transform: scale(1);}
    12.5% {transform: scale(1);}
    25% {transform: scale(1);}
    37.5% {transform: scale(1);}
    50% {transform: scale(1);}
    62.5% {transform: scale(1);}
    75% {transform: scale(1);}
    87.5% {transform: scale(1);}
    100% {transform: scale(1.1);}
    /* fin */}
/****************************************/
/******************** Media Queries NUESTRO EQUIPO ********************/
@media (min-width: 481px) and (max-width: 1023px) {
    .cajonEquipoNE {
        border: solid 1px;
        width: 30%;
    }
    .seccionEquipoUnoNE, .seccionEquipoDosNE {
        margin-top: 30px;
    }
    .textoMarcasNE {
        margin: 10px;
    }
    .imagenMarcasNE {width: 20%; margin: 10px;}
    .cajonEquipoNE:hover {
        width: 40%;
    }
}
@media (max-width: 480px) {
    .seccionEquipoUnoNE {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .seccionEquipoDosNE {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .cajonEquipoNE {
        border: solid 1px;
        margin-bottom: 10px;
        width: 90%;
    }
    .seccionMarcasDosNE {
        flex-direction: column;
    }
    .imagenMarcasNE {width: 70%; margin: 0px;}
    .cajonEquipoNE:hover {
        width: 90%;
    }
}
/****************************************/
/*######################################################################*/
/*#################### ESTILOS GENERALES "SERVICIO" ####################*/

/*######################################################################*/
/*#################### ESTILOS GENERALES "PRODUCTO" ####################*/
/******************** Header  ********************/
/* Header */
.sliderPrincipalP {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
/****************************************/
/******************** Secciones MAIN  ********************/
/* Seccion Uno */
#colorCajonUno {background-color: #2D9BF0;}
#colorCajonDos {background-color: #47D0AF;}
#colorCajonTres {background-color: #CEE741;}
.seccionUnoP {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cajonSeccionUnoP {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}
.opcionCajonSeccionUnoP {
    width: 32%;
    margin: 0 auto;
    
}
.imagenSeccionUnoP {
    width: 100%;
    padding: 0;
    margin: 0;
}
.cajonTituloSeccionUnoP, .cajonTextoSeccionUnoP {
    margin: 10px;
    color: white;
}
/* Seccion Dos */
#colorOnpremisesUno {background-color: #12CDD4;}
#colorOnpremisesDos {background-color: #8FD14F;}
.seccionDosP {
    display: flex;
    flex-direction: column;
}
.textoSeccionDosP {
    margin-top: 10px;
    margin-bottom: 10px;
}
.productosOnpremisesP {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajonOnpremisesP {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajonImagenOnpremiseP {
    width: 30%;
    margin: auto;
}
.cajonDescripcionOnpremisesP {
    width: 70%;
    margin: auto;
}
.imagenOnpremiseP {
    width: 100%;
}
.tituloOnpremiseP, .textoOnpremiseP {
    margin: 20px;
}
/* Seccion Tres */
.seccionTresP {
    width: 100%;
}

.botonSeccionTresP {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 40px;
}
.botonSeccionTresP span {
    height: 60px;
    padding: 20px 100px;
    background-color: #47D0AF;
    border-radius: 8px;
}
.botonSeccionTresP span a {
    text-decoration: none;
    color: black;
}
.botonSeccionTresP span:hover {
    background-color: #8FD14F;
}
/****************************************/
/******************** Media Queries PRODUCTOS ********************/
@media (min-width: 481px) and (max-width: 1023px) {
    .textoSliderPrincipalP {
        padding: 10px;
    }
    .textoSeccionUnoP p {
        padding: 10px;
    }
    .textoSeccionDosP {
        margin: 10px;
    }
    .cajonImagenOnpremiseP {
        width: 50%;
        margin: auto;
    }
    .textoSeccionTresP {
        margin: 10px;
    }
}
@media (max-width: 480px) {
    .cajonSeccionUnoP {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .opcionCajonSeccionUnoP {
        width: 90%;
        margin: 10px auto;
    }
    .textoSliderPrincipalP {
        padding: 10px;
    }
    .textoSeccionUnoP p {
        padding: 10px;
    }
    .textoSeccionDosP {
        margin: 10px;
    }
    .cajonOnpremisesP {
        width: 95%;
    }
    .cajonImagenOnpremiseP {
        width: 50%;
        margin: auto;
    }
    .botonSeccionTresP {
        text-align: center;
    }
    .textoSeccionTresP {
        margin: 10px;
    }
}
/****************************************/
/*######################################################################*/
/*#################### ESTILOS GENERALES "CONTACTANOS" ####################*/
/******************** Header  ********************/
/* Cabecera */
.sliderPrincipalUnoC {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.sliderPrincipalDosC {
    display: flex;
    flex-direction: row;
}
.opcionContactoC {
    width: 32%;
    margin: 0 auto;
    border: solid 1px #47D0AF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagenOpcionContactoC {
    width: 100%;
    text-align: right;
}
.tituloOpcionC {
    display: flex;
    flex-direction: row;
}
.objetoTituloOpcionC {
    margin: auto;
}
#opcionTituloUnoC, #opcionTituloDosC, #opcionTituloTresC {
    width: 80%;
}
#opcionImagenUnoC, #opcionImagenDosC, #opcionImagenTresC {
    width: 20%;
}
.textoOpcionC li {
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.objetoTituloOpcionC h2 {
    color: #12CDD4;
    margin-left: 10px;
}
/****************************************/
/******************** MAIN  ********************/
/* Formulario */
.formularioC {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tituloFormularioC {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cajonFormularioC {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#opcionFormularioUnoC {
    width: 60%;
}
#opcionFormularioDosC {
    width: 40%;
    display: flex;
    flex-direction: column;
}

/* Dirección Mapa */
.cajonDireccionC {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.cajonImagenDireccionC {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}
.textoDireccionC {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.imagenDireccionC {
    width: 100%;
}

/****************************************/
/******************** Media Queries PRODUCTOS ********************/
@media (min-width: 481px) and (max-width: 1023px) {
    
}
@media (max-width: 480px) {
    .sliderPrincipalDosC {
        display: flex;
        flex-direction: column;
    }
    .opcionContactoC {
        width: 90%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .cajonFormularioC {
        display: flex;
        flex-direction: column;
    }
    .cajonImagenDireccionC {
        width: 90%;
    }
    .textoDireccionC {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #opcionFormularioUnoC, #opcionFormularioDosC {
        margin: auto;
        width: 90%;
    }
    #opcionFormularioDosC {
        margin-top: 20px;
    }
}
/****************************************/
/*######################################################################*/